html {
	height: 100%;
}

body {
	height: 100%;
}

.cover-small-screen1 {
	display: none;
}


.cover-small-screen2 {
	display: none;
}


.cover-container1 {
	display: inline-block;
	width: 25%;
	height: 100%;
	background: url(../img/cover1.jpeg) center center no-repeat;
	background-size: auto 100%;
	float: left;
}

.info-container {
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: center;
}

.cover-container2 {
	display: inline-block;
	width: 25%;
	height: 100%;
	background: url(../img/cover2.jpeg) center left no-repeat;
	background-size: auto 100%;
	float: right;
}

.cover-title {
	font-family: "Pushkin";
	font-size: 44px;
	color: #414141;
	display: block;
	margin-top: 80px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

.cover-desc {
	font-family: "PoiretOne-Regular";
	font-size: 18px;
	color: #747474;
	display: block;
	margin-top: 20px;
}

.location-link {
	color: #29B6F6;
}


/*Text Block*/

.text-container {
	display: block;
	width: 80%;
	margin: 0% 10%;
	text-align: center;
}

.text {
	font-family: "PoiretOne-Regular";
	font-size: 16px;
	color: #414141;
	padding: 160px 0px;
	display: block;
}


/*Butoon Block*/

.button-container {
	display: inline-block;
	text-align: center;
	bottom: 0;
    position: fixed;
    margin-bottom: 60px;
    width: 100%;
    transform: translateX(-50%);
}

.answ-not-sure {
	display: inline-block;
}

.answ-yes {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px; 
}

.answ-no {
	display: inline-block;
}

.button-container .btn {
	font-family: "PoiretOne-Regular";
	font-size: 16px;
	color: #757575;
	background-color: white;
	border: 1px solid #757575;
	border-radius: 2px;
	width: 120px;
	height: 40px;
	padding: 0;
}

.answ-not-sure:hover {
	color: #FFB300;
	border: 1px solid #FFB300;
}


.answ-yes:hover {
	color: #66BB6A;
	border: 1px solid #66BB6A;
}


.answ-no:hover {
	color: #F44336;
	border: 1px solid #F44336;
}

.btn:focus {
	color: #757575;
	outline: none;
}


/*Media screen*/



@media screen and (max-width: 1050px) {

	.text {
		padding: 80px 0px;
	}
}

@media screen and (max-width: 992px) {

	.cover-container1 {
		display: none;
	}

	.cover-container2 {
		display: none;
	}

	.cover-small-screen1 {
		display: inline-block;
		width: 48%;
		height: 400px;
		background: url(../img/cover1.jpeg) center center no-repeat;
		background-size: auto 100%;
		float: left;
	}


	.cover-small-screen2 {
		display: inline-block;
		width: 48%;
		height: 400px;
		background: url(../img/cover2.jpeg) center left no-repeat;
		background-size: auto 100%;
		float: right;
	}

	.info-container	{
		width: 100%;
	}

	.button-container {
		position: relative;
		margin-bottom: 30px;
	    transform: translateX(0%);
	}
}


@media screen and (max-width: 450px) {

	.button-container {
		display: block;
	}


	.answ-not-sure {
		display: block;
		margin: 20px 0px;
	}

	.answ-yes {
		display: block;
		margin: 20px 0px;
	}

	.answ-no {
		display: block;
		margin: 20px 0px 0px 0px;
	}

	.button-container {
		display: inline-block;
	    margin-bottom: 30px;
	    width: 80%;
	    padding: 0% 11.429%;

	}

	.button-container .btn {
		width: 100%; 
	}
}



/*Fonts Embed*/

@font-face {
    font-family: "PoiretOne-Regular";
    src: url(../font/PoiretOne-Regular.ttf);
}

@font-face {
	font-family: "Muller-Regular";
	src: url(../font/Muller-Regular.otf);
}

@font-face {
	font-family: "Pushkin";
	src: url(../font/Pushkin.ttf);
}
