html {
	height: 100%;
}

body {
	height: 100%;
}

.cover-container1 {
	display: inline-block;
	width: 25%;
	height: 100%;
	background: url(../img/cover1.jpeg) center center no-repeat;
	background-size: auto 100%;
	float: left;
}

.info-container {
	display: inline-block;
	width: 50%;
	height: 100%;
}

.cover-container2 {
	display: inline-block;
	width: 25%;
	height: 100%;
	background: url(../img/cover2.jpeg) center left no-repeat;
	background-size: auto 100%;
	float: right;
}

.cover-title {
	font-family: "Pushkin";
	font-size: 44px;
	color: #414141;
	display: block;
	margin-top: 125px;
}

.cover-desc {
	font-family: "PoiretOne-Regular";
	font-size: 18px;
	color: #747474;
	display: block;
	margin-top: 20px;
}

.location-link {
	color: #29B6F6;
}


/*Text Block*/

.text-container {
	display: block;
	width: 80%;
	margin: 0% 10%;
	text-align: center;
}

.text {
	font-family: "PoiretOne-Regular";
	font-size: 15px;
	color: #414141;
	padding: 80px 0px;
	display: block;
}


/*Butoon Block*/

.button-container {
	display: inline-block;
	width: 40%;
	text-align: center;
}

.answ-not-sure {
	display: inline-block;
}

.answ-yes {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px; 
}

.answ-no {
	display: inline-block;
}

.button-container .btn {
	font-family: "segoeui";
	font-size: 15px;
	color: #757575;
	background-color: white;
	border: 1px solid #757575;
	border-radius: 40px;
	width: 120px;
	height: 40px;
	padding: 0;
}

.answ-not-sure:hover {
	color: #FFB300;
	border: 1px solid #FFB300;
}


.answ-yes:hover {
	color: #66BB6A;
	border: 1px solid #66BB6A;
}


.answ-no:hover {
	color: #F44336;
	border: 1px solid #F44336;
}

.btn:focus {
	color: #757575;
	outline: none;
}


/*Media screen*/

@media screen and (max-width: 992px) {


}

@media screen and (max-width: 800px) {

		.answ-not-sure {
		display: block;
		margin: 10px 40px;
	}

		.answ-yes {
		display: block;
		margin: 20px 40px;
	}

		.answ-no {
		display: block;
		margin: 10px 40px;
	}

	.icon-not-sure {
		font-size: 29px;
	}

	.button-container {
		position: inherit;
	}
}

@media screen and (max-width: 768px) {


}


@media screen and (max-width: 600px) {

	.cover-container {
		background: url(../img/cover.jpg) no-repeat;
		background-size: auto 400px;
	}
}



/*Fonts Embed*/

@font-face {
    font-family: "PoiretOne-Regular";
    src: url(../font/PoiretOne-Regular.ttf);
}

@font-face {
	font-family: "Muller-Regular";
	src: url(../font/Muller-Regular.otf);
}

@font-face {
	font-family: "Pushkin";
	src: url(../font/Pushkin.ttf);
}
